
ion-list{
  --ion-background-color: transparent;
}
ion-item{
  --ion-background-color: white;
  margin: 10px;
  border-radius: 5px;
}
ion-item ion-label {
  color: dodgerblue ;
}
ion-item {
  border: 1px solid dodgerblue;
  border-radius: 5px;

}
