<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TDSI LAB'S
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deconnexion()">
        <ion-icon slot="icon-only" name="log-out" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment
    color="primary"
    scrollable="true"
    mode=""
    [(ngModel)]="this.segmentModel"
    (ionChange)="segmentChanged($event)"

  >
    <ion-segment-button *ngFor="let niveau of this.niveauService.list_niveaux; let i = index" value="{{i}}" (click)="selectTab(i)"
                        id="segment-{{i}}" layout="icon-start">
      <ion-icon name="file-tray-full" color="primary" size="small"></ion-icon>
      <ion-badge color="light" > {{niveau.etudiants?.length}}</ion-badge>
      <ion-label>
        <h6>{{niveau.nom}}</h6>
      </ion-label>

    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides [options]="" pager="true" #slides class="" (ionSlideWillChange)="slideChanged($event)">
    <ion-slide *ngFor="let niveau of this.niveauService.list_niveaux">
      <app-list-etudiant [list_etudiants] = "niveau.etudiants"></app-list-etudiant>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addEtudiant()">
    <ion-fab-button>
      <ion-icon name="person-add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
