<ion-content>


<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>azerty</ion-card-header>
  <ion-card-content>azertyui</ion-card-content>
</ion-card>
</ion-content>
